body {
  background: url(texture-noise.png);
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
  height: 100%;
}

.tablinks{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 5px 14px;
  border: 2px solid #000000;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
  overflow:scroll;
  height: 100%;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

#table_select {
  width:207px;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.overview_circle {
  stroke: #CCCCCC !important;
  stroke-width: 0.3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke-width: 2px;
}

.link-overview {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

/* Split the screen in half */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float:left;
  overflow: scroll;
}

.left {
  width: 50%;
  height: 800px;
  overflow: scroll;
}

.right {
  width: 50%;
  height: 800px;
  overflow: scroll;
}

#overview {
  width: 100%;
  height: 800px;
  overflow: fixed;
}

/* Header table layout */
.d3_header {
  table-layout: fixed;
  width: 100% ;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table td, table th {
  border: 1px;
  padding-left: 8px;
}

table tr:nth-child(even){background-color: #CCCCCC;}

table tr:hover {background-color: #ddd;}

